<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.xtext.org/DSLProject/mydsl/MyDsl"
			class = "projetDSL.myDsl.MyDslPackage"
			genModel = "model/generated/SATL.genmodel" />
	</extension>
</plugin>
