/.SatGenerator.java._trace
/.SatGenerator.xtendbin
/SatGenerator.java
/.PrettyPrinter.java._trace
/.DIMACSConverter.java._trace
/.CNFConverter.java._trace
/.CNFConverter.xtendbin
/.DIMACSConverter.xtendbin
/.PrettyPrinter.xtendbin
/CNFConverter.java
/DIMACSConverter.java
/PrettyPrinter.java
