<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.xtext.org/example/mydsl1/MSat"
			class = "org.xtext.example.mydsl1.mSat.MSatPackage"
			genModel = "model/generated/MSat.genmodel" />
	</extension>
</plugin>
