<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.gjouneau.fr/dsl/sat/Sat"
			class = "fr.gjouneau.dsl.sat.sat.SatPackage"
			genModel = "model/generated/Sat.genmodel" />
	</extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Sat -->
      <package
            uri="SAT"
            class="ModelSAT.ModelSATPackage"
            genModel="model/Sat.genmodel"/>
   </extension>

</plugin>
